pre.HyperMD-header-1 { font-size: 42px !important; }
div.view-content h1 { font-size: 42px !important; }
div.view-content h1 code { font-size: 30px !important; }

pre.HyperMD-header-2 { font-size: 30px !important; }
div.view-content h2 { font-size: 30px !important; }
div.view-content h2 code { font-size: 24px !important; }

pre.HyperMD-header-3 { font-size: 26px !important; }
div.view-content h3 { font-size: 26px !important; }
div.view-content h3 code { font-size: 20px !important; }

pre.HyperMD-header-4 { font-size: 22px !important; }
div.view-content h4 { font-size: 22px !important; }
div.view-content h4 code { font-size: 18px !important; }

pre.HyperMD-header-5 { font-size: 20px !important; }
div.view-content h5 { font-size: 20px !important; }
div.view-content h5 code { font-size: 16px !important; }

pre.HyperMD-header-6 { font-size: 18px !important; }
div.view-content h6 { font-size: 18px !important; }
div.view-content h6 code { font-size: 14px !important; }
